@{
    Layout = "_Layout";
    ViewBag.Title = "Web Shell";
}

<div>
    <pre id="output"></pre>
    <span id="currentDir">@Environment.CurrentDirectory></span>
    <input id="input" 
           type="text"
           autocomplete="off"
           autofocus
           onkeydown="return onSubmit(event)"/>
</div>

@section script{
    <script src="scripts/main.js"></script>
}